.about {
  padding: 120px 0 60px;
  margin: 0 65px;
  background-image: url("../../images/path.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about__title {
  margin: 0 0 40px;
  text-align: center;
}

.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 54px;
}

@media screen and (max-width: 1330px) {
  .about {
    margin: 0;
    padding: 100px 40px 108px;
  }
}

@media screen and (max-width: 1023px) {
  .about {
    background-position: top right 105%;
  }

  .about__container {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding: 100px 20px 80px;
  }
  .about__title {
    margin: 0 0 24px;
  }
  .about__container {
    gap: 12px;
  }
}
