.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 65px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.header__logo-mobile {
  display: none;
}
.header__logo-container {
  display: block;
}
.header__logo {
  width: 75px;
  height: 80px;
}
.header__nav-container {
  flex-basis: 70%;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__list {
  list-style: none;
  display: flex;
  gap: 64px;
  margin: 0;
  padding: 0;
}

.header__link {
  font-weight: 500;
}

.header__link:hover {
  color: var(--main-accent);
}

@media screen and (max-width: 1380px) {
  .header {
    padding: 20px 40px;
  }
}

@media screen and (max-width: 1023px) {
  .header__logo {
    width: 60px;
    height: 64px;
  }
  .header__list {
    gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 25px 20px 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
  }

  .header_opened {
    left: 100%;
    transform: translateX(-100%);
    padding: 25px 20px 0;
    overflow: visible;
  }
  .header__nav-container_opened .header__logo-mobile {
    display: block;
  }

  .header__logo {
    height: 55px;
    width: 52px;
    margin: 0 0 40px;
  }
  .header__nav-container {
    position: absolute;
    width: 100vw;
    margin: 0;
    top: 0;
    height: 100vh;
    right: -100%;
  }
  .header__nav-container_opened {
    position: absolute;
    width: 100vw;
    margin: 0;
    top: 0;
    height: 100vh;
    left: 0;
  }
  .header__nav-container_opened::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #193564b2;
    z-index: 0;
  }

  .header__nav {
    padding: 20px 40px 20px;
    max-width: 245px;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.4s ease-out;
    background-color: var(--blue);
    margin-left: auto;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
  }
  .header__list {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 60px;
  }
  .header__link {
    color: var(--main-text);
  }
  .header__link:hover {
    color: inherit;
  }
  .header__button {
    display: none;
  }
  .header__button_opened {
    position: relative;
    display: inline-block;
  }
}
