.btn {
  border-radius: 30px;
  padding: 8px 32px;
  color: var(--main-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  border: 0;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  background-color: var(--main-accent);
}

.btn:disabled,
.btn[disabled] {
  background-color: #ffb800;
}

.btn:hover {
  background-color: #ff9900;
}

.btn:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #b4b4b4;
}

@media screen and (max-width: 1023px) {
  .btn {
    font-size: 12px;
    padding: 7px 22px;
  }
}
